<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>atlasQuerySample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>atlasReportingSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>ghttp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>gptestc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>gt2testc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>qr2csample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>saketest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>sbctest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>simpletest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D6058900D05DD3D006BFB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>241E41E50F4094D100A4FB35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F95F06AA0E79C9AC00D4C7F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F95F07040E79CFB000D4C7F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F95F07470E79D2BE00D4C7F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F95F07770E79D4E300D4C7F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F95F07DF0E79D93900D4C7F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F95F085A0E79DE0700D4C7F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F95F087C0E79E0A700D4C7F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
